/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    combos {
        compatible = "zmk,combos";

        lctrl {
            bindings = <&kp LCTRL>;
            key-positions = <16 15>;
        };

        lalt {
            bindings = <&kp LEFT_ALT>;
            key-positions = <16 14>;
        };

        lsuper {
            bindings = <&kp LEFT_WIN>;
            key-positions = <16 13>;
        };

        lshift {
            bindings = <&kp LSHIFT>;
            key-positions = <15 14>;
        };

        rshift {
            bindings = <&kp RSHIFT>;
            key-positions = <20 21>;
        };

        rctrl {
            bindings = <&kp RIGHT_CONTROL>;
            key-positions = <19 20>;
        };

        ralt {
            bindings = <&kp RIGHT_ALT>;
            key-positions = <19 21>;
        };

        rsuper {
            bindings = <&kp RIGHT_WIN>;
            key-positions = <19 22>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp TAB        &kp Q  &kp W  &kp F          &kp P  &kp G       &kp J      &kp L  &kp U      &kp Y    &kp SEMI  &kp MINUS
&mt LCTRL ESC  &kp A  &kp R  &kp S          &kp T  &kp D       &kp H      &kp N  &kp E      &kp I    &kp O     &kp ENTER
&kp APOS       &kp Z  &kp X  &kp C          &kp V  &kp B       &kp K      &kp M  &kp COMMA  &kp DOT  &kp FSLH  &kp EQUAL
                             &kp BACKSLASH  &mo 1  &kp BSPC    &kp SPACE  &mo 2  &mo 4
            >;
        };

        left-homerow {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp GRAVE  &kp N1    &kp N2    &kp N3     &kp N4     &kp N5      &kp J      &kp L  &kp U      &kp Y    &kp SEMI  &kp MINUS
&kp ESC    &kp LGUI  &kp LALT  &kp LCTRL  &kp LSHFT  &kp LBKT    &kp H      &kp N  &kp E      &kp I    &kp O     &kp ENTER
&kp CAPS   &kp F1    &kp F2    &kp F3     &kp F4     &kp F5      &kp K      &kp M  &kp COMMA  &kp DOT  &kp FSLH  &kp EQUAL
                               &trans     &trans     &trans      &kp SPACE  &mo 3  &mo 4
            >;
        };

        right-homerow {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp TAB        &kp Q  &kp W  &kp F    &kp P  &kp G       &kp N6    &kp N7     &kp N8     &kp N9    &kp N0    &kp F12
&mt LCTRL ESC  &kp A  &kp R  &kp S    &kp T  &kp D       &kp RBKT  &kp RSHFT  &kp RCTRL  &kp RALT  &kp RGUI  &kp ENTER
&kp CAPS       &kp Z  &kp X  &kp C    &kp V  &kp B       &kp F6    &kp F7     &kp F8     &kp F9    &kp F10   &kp F11
                             &kp TAB  &mo 3  &kp BSPC    &trans    &trans     &trans
            >;
        };

        homerow {
            bindings = <
&kp GRAVE  &kp N1    &kp N2    &kp N3     &kp N4     &kp N5      &kp N6    &kp N7     &kp N8     &kp N9    &kp N0    &kp F12
&kp ESC    &kp LGUI  &kp LALT  &kp LCTRL  &kp LSHFT  &kp LBKT    &kp RBKT  &kp RSHFT  &kp RCTRL  &kp RALT  &kp RGUI  &kp ENTER
&kp CAPS   &kp F1    &kp F2    &kp F3     &kp F4     &kp F5      &kp F6    &kp F7     &kp F8     &kp F9    &kp F10   &kp F11
                               &trans     &trans     &trans      &trans    &trans     &trans
            >;
        };

        vim-navigate {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &mkp MB4        &kp PG_DN       &kp PG_UP     &mkp MB5         &kp HOME  &kp DELETE
&trans  &trans  &trans  &trans  &trans  &trans    &kp LEFT        &kp DOWN        &kp UP        &kp RIGHT        &kp END   &kp INSERT
&trans  &trans  &trans  &trans  &trans  &trans    &msc SCRL_LEFT  &msc SCRL_DOWN  &msc SCRL_UP  &msc SCRL_RIGHT  &trans    &trans
                        &trans  &trans  &trans    &trans          &trans          &trans
            >;
        };
    };
};
